
:root {
    --color-primary: #33211D;
    --color-secundary: #CDA16B;
    --color-base: #FFFBF2;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    /* color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */
  
    color: #213547;
    background-color: #ffffff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */

* {
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

body {
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    grid-template-columns: 27% auto;
    grid-template-rows: 100%;
    grid-template-areas:
        "sidebar dashboard"
    ;

}

.sidebar {
    grid-area: sidebar;
    background: var(--color-base);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding-right: 5em;
}

.sidebar article {

    background: var(--color-primary);
    width: 96%;
    height: 97%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dashboard-container {
    grid-area: dashboard;
    background: var(--color-base);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.articulos {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
    height: 91%;
}

.dashboard-container article {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 98%;
    height: 97%;
    border: solid 3px var(--color-primary);
    box-sizing: border-box;


}

.header {
    width: 100%;
    height: 15%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.header h1 {
    font-size: 2em;
    font-weight: 600;
    color: var(--color-base);
    margin-left: 0.5em;
}

main {
    width: 100%;
    height: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.navbar {
    width: 97%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3em;
    justify-content: space-around;
    background: var(--color-base);
    border-radius: 10px;
}

.icono-nav {
    width: 1.2em;
    height: auto;

}

.navbar ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    list-style-type: none;
    text-transform: capitalize;
    gap: 0.5em;
    margin: 1em;
    margin-left: 1em;
}

.navbar ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    padding: 0.1em;
    border-right: solid 2px transparent;
    border: solid 2px transparent;
    background: none;
}

.selected {
    border: solid 2px var(--color-primary) !important;
}

.navbar ul li:hover {
    box-sizing: border-box;
    border-color: var(--color-secundary);
    border-right: solid 2px transparent;
    width: 96%;
    transition: border-color 0.3s ease-in-out;

}

.navbar ul li a {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 1.1em;
    font-weight: 600;
    gap: 0.5em;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar ul li a i {
    color: var(--color-primary);
    font-size: 1.3em;

}

.num_carritos {
    width: 2em;
    height: 2em;
    background: var(--color-secundary);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1em;
    color: var(--color-secundary);
}


footer p {
    margin: 1em;
}

.titulo__pagina {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
}

.titulo__pagina h1 {
    margin-left: 1.5em;
    color: var(--color-primary);
    text-transform: capitalize;

}

.articulo {
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 0px 10px var(--color-secundary);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0.5em;
    background: white;
}

.articulo__foto {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.articulo__foto img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.articulo__info {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    background: var(--color-primary);
    border-radius: 10px;
}

.articulo__info div:first-child,
.articulo__info div:last-child {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0.5em 0em;
}

.articulo__info div:first-child {
    background: none;
}

.articulo__info div:first-child h3 {
    color: var(--color-base);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1em;
}

.articulo__info div:last-child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.articulo__info div:last-child p {
    color: var(--color-secundary);
    font-size: 1.1em;
    font-weight: 500;

}

.articulo__info div:last-child a {
    color: var(--color-primary);
    font-size: 1em;
    font-weight: 500;
    background: var(--color-secundary);
    padding: 0.3em 0.7em;
    border-radius: 10px;
    text-decoration: none;
    text-transform: capitalize;
    border: solid 2px transparent;
}

.articulo__info div:last-child a:hover {
    box-shadow: 0px 0px 3px var(--color-secundary);
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
    border: solid 2px var(--color-base);
    transition: all 0.2s ease-in-out;
}

@media (width < 951px) {
    body {
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-rows: auto 9%;
        grid-template-columns: 100%;
        grid-template-areas:
            "dashboard"
            "sidebar"
        ;
    }

    .dashboard-container {
        grid-area: dashboard;
        background: var(--color-base);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        overflow: hidden;
    }

    .articulos {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: scroll;
        width: 100%;
        height: 91%;
        background: none;
    }

    .dashboard-container article {
        border: none;
        width: 100%;
        height: 97%;

    }

    .articulo {
        width: 45%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-shadow: 1px 0px 10px var(--color-secundary);
        border-radius: 10px;
        box-sizing: border-box;
        margin: 0.5em;
        background: white;
    }

    .sidebar {
        grid-area: sidebar;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        padding-right: 0em;
        bottom: 0;
        position: fixed;
    }

    .sidebar article {

        background: var(--color-base);
        width: 100%;
        height: 12vh;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;

    }

    .header {
        width: 100%;
        margin: 0.5em 1em;
        flex-direction: row;
        align-items: center;
        justify-content: start;

    }

    .header h1 {
        font-size: 1.2em;
        font-weight: 600;
        color: var(--color-primary);
        margin-left: 0.5em;
    }


    main {
        height: 48%;
        flex-direction: row;

    }

    .navbar {
        width: 100%;
        height: 85%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0;
        justify-content: space-between;
        background: var(--color-base);

    }

    .icono-nav {
        width: 1.1em;
        height: auto;


    }

    .navbar ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
        text-transform: capitalize;
        gap: 0em;
        margin: 0em 0em;
    }

    .navbar ul:first-child {
        width: 75%;
        border-right: solid 1px var(--color-secundary);
    }

    .navbar ul:last-child {
        width: 20%;
    }

    .navbar ul li {
        border-radius: 5px;
        border-right: solid 2px transparent;
        border: solid 2px transparent;
        background: none;
    }

    .selected {
        border: solid 2px var(--color-primary) !important;
    }

    .navbar ul li:hover {
        box-sizing: border-box;
        border-color: var(--color-secundary);
        width: 96%;
        transition: border-color 0.3s ease-in-out;

    }

    .navbar ul li a {
        gap: 0em;
        padding: 0rem;
    }

    .navbar ul:first-child li {

        width: fit-content;
    }

    .navbar ul li a span {
        display: none;
    }

    .navbar ul li i {
        color: var(--color-primary);
        font-size: 1.6em;

    }

    .num_carritos {
        width: 1.7em;
        height: 1.7em;
        background: var(--color-secundary);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    footer {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: end;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 0.8em;
        color: var(--color-secundary);
    }


    footer p {
        margin: 0em;
    }

}